<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<jmxConfigurator />

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="LOGSTASH" class="ch.qos.logback.core.FileAppender">
      <file>service-logstash.log</file>
      <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <root level="INFO">
      <appender-ref ref="CONSOLE" />
      <appender-ref ref="FILE" />
      <appender-ref ref="LOGSTASH" />
    </root>
</configuration>
